.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  position: relative;
}

.multiple-users-svg {
  cursor: pointer;
  fill: #b4bbc4;
  background-color: #567fac;
  border: 1px solid #15a2b8;
  position: absolute;
  right: 25px;
  padding: 10px;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  max-width: 70px;
  max-height: 70px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.multiple-users-svg:hover {
  opacity: 1.0;
  border: 1px solid #106674;
}